
body {
    background: #eeb556;
}

img {
    width: 200px;
}

h1 {
    color: #000000;
    background: #ea9b1e;
}

h2 {
    color: black;
    background: #f8aa30;
}

p {
    color: #000000;
    background: #f3ac41;
}

ul {
    color: black;
    background: #f3ac41;
}

li {
    background: #fcdb04;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}